%p#notice= notice

%p
  %b First name:
  = @contact.first_name
%p
  %b Last name:
  = @contact.last_name
%p
  %b Title:
  = @contact.title
%p
  %b Company:
  = @contact.company
%p
  %b Email:
  = @contact.email
%p
  %b Address line1:
  = @contact.address_line1
%p
  %b Address line2:
  = @contact.address_line2
%p
  %b County:
  = @contact.county
%p
  %b Country:
  = @contact.country
%p
  %b Postcode:
  = @contact.postcode
%p
  %b Hobbies:
  = @contact.hobbies
%p
  %b Interests:
  = @contact.interests
%p
  %b Meeting notes:
  = @contact.meeting_notes
%p
  %b Mobile:
  = @contact.mobile
%p
  %b Telephone:
  = @contact.telephone

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
